*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.main{
   /* width: 600px;*/
    min-height: 660px;
    border: 2px solid;
    border-radius: 20px;
    padding: 45px 50px 30px;
}
header{
    text-align: center;
    margin-bottom: 40px;
}
header h1{
    font-weight: 500;
}
header p{
    font-size: 14px;
    color: #aaa;
}
.timeline{
    position: relative;
    width: 100%;
}
/*vertical line */

.timeline::before{
    content: " ";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background-color: #333;
}
.timeline-item{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 48px;
    margin-bottom: 0;
}


/* date*/
.date{
    text-align: right;
    padding-right: 38px;
    color: #aaa;
    font-size: 14px;

}
/*Description */
.timeline-text{
    padding-left: 30px;
    color: #222;
    font-size: 14px;

}
/*Timeline dots */
.timeline-item::before{
    content: "";
    position: absolute;
    left: calc(50% - 7px);
    top:11px;
    width: 15px;
    height: 15px;
    background-color: #222;
    border-radius: 50%;
    z-index: 2;
}
.button{
    display: flex;
    justify-content: center;
}
.btn{
    border-radius: 10px;
    background: black;
    color: aliceblue;
    padding: 8px 15px;
    margin-top: 20px;
    cursor: pointer;
  

}
.btn:hover{
    background-color: #444;
}

